<html>
<head><title>CoreServ Member Servicing - Login</title></head>
<body bgcolor="#d6d3ce">
<table width="100%" cellpadding="4" cellspacing="0" border="0">
  <tr bgcolor="#003366">
    <td><font color="white" size="4"><b>CoreServ Member Servicing Terminal</b></font></td>
  </tr>
</table>
<br>
<table align="center" border="1" cellpadding="8" cellspacing="0" bgcolor="#ffffff">
  <tr><td>
    {% if expired %}
    <table width="100%" bgcolor="#ffe0e0" border="1">
      <tr><td>Your session has expired. Please log in again.</td></tr>
    </table>
    <br>
    {% endif %}
    <form method="POST" action="/login">
      <table border="0" cellpadding="4">
        <tr>
          <td>Operator ID:</td>
          <td><input type="text" name="username"></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" name="password"></td>
        </tr>
        <tr>
          <td colspan="2" align="right"><input type="submit" value="Sign On"></td>
        </tr>
      </table>
    </form>
  </td></tr>
</table>
</body>
</html>
