<html>
<head><title>CoreServ - Access Denied</title></head>
<body bgcolor="#d6d3ce">
<table width="100%" cellpadding="4" cellspacing="0" border="0">
  <tr bgcolor="#003366">
    <td><font color="white" size="4"><b>CoreServ Member Servicing Terminal</b></font></td>
  </tr>
</table>
<br>
<table align="center" border="1" cellpadding="8" cellspacing="0" bgcolor="#ffe0e0" width="500">
  <tr><td>
    <b>Access Denied</b><br>
    Your operator role does not have permission to view member {{ member_id }}.
    <br><br>
    <a href="/members/search">Return to Search</a>
  </td></tr>
</table>
</body>
</html>
